
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<script src="//assets.adobedtm.com/launch-EN69f9a1af00674ea4af59b4b34516395c-development.min.js"></script>
</head>
<body>
<h2>Brightcove Player with Custom Link Tracking | Tested</h2>


<script type="text/javascript">_satellite.pageBottom();</script>

<video-js id="myPlayerID"
data-video-id="4825279519001"
data-account="1752604059001" 
data-player="HkAzSmB0l"
data-embed="default"
data-application-id
class="video-js"
controls
width="640"
height="360"></video-js>
<script src="https://players.brightcove.net/1752604059001/HkAzSmB0l_default/index.min.js"></script>


<br>


<video-js id="myPlayerID2" data-video-id='5551839009001' data-account='45228659001' data-player='HyjoUEN3'
                             data-embed='default' data-application-id class='video-js' controls width='640'
                             height='360'></video-js>
                             <script src='//players.brightcove.net/45228659001/HyjoUEN3_default/index.min.js'></script>
                             
                             
<br>



</body>
</html>