
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>YouTube iframe player with Custom Link Tracking</title>

<script src="//assets.adobedtm.com/c6e308ba21a8/6dabaece27cb/launch-108fe588989a-development.min.js" async></script>

</head>
<body>
<h2>YouTube iframe player with Custom Link Tracking!</h2>
  
<iframe width="966" height="411" src="https://www.youtube.com/watch?v=Kp7eSUU9oy8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="966" height="537" src="https://www.youtube.com/watch?v=Kp7eSUU9oy8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="764" height="573" src="https://www.youtube.com/watch?v=EV41ekWwCpM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



</body>
</html>